body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

a {color: #007b80; text-decoration: none;}
a:hover {color: #9f0707; text-decoration: underline;}
/* a:visited {color: #02696d;} */

footer {background-color: #9f0707; color: ivory;}
footer a {color: ivory;}
footer a:hover {color: #ffd000;}
/* footer a:visited {color: #ca9b00;} */

#dateLastUpdated {color: #ffd000;}