body {
    font-family: "PT Sans", sans-serif;
    font-size: 14pt;
}

header, main, footer {
    max-width: 800px;
    padding-left: 1em;
    padding-right: 1em;
}

header, footer {
    background-color: #9f0707; 
    color: ivory;
    text-align: center;
    padding: 0.5em;
}

header img {
    object-fit: scale-down;
    width: fit-content;
    height: auto;
    
}

h1 {
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 2px 8px #00000066;
    margin: 0.5em;
}

h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

a {
    color: #057d81; 
    text-decoration: none;
}
a:hover {
    color: #b65800; 
}

footer{
    font-size: 0.75em;
}

footer a {
    color: ivory;
}

footer a:hover {
    color: #ffffc5;
}