body {
    font-family: "PT Sans", sans-serif;
    font-size: 14pt;
}

header, main, footer {
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;
}

header, footer {
    background-color: #04345c; 
    color: ivory;
    text-align: center;
    padding: 0.25em;
    box-shadow: 0 5px 10px 3px #00000066;
    clip-path: inset(10px, 0, 10px, 0);
}

h1 {
    font-family: "Raleway", sans-serif;
}

img {
    box-shadow: 0 2.5px 10px 2.5px #00000066;
    object-fit: scale-down;
    height: auto;
}

a {
    color: #057d81; 
    text-decoration: none;
}
a:hover {
    color: #b65800; 
    text-decoration: underline;
}

footer{
    font-size: 0.75em;
}

footer a {
    color: ivory;
}

footer a:hover {
    color: #ffffc5;
}