body {
    font-family: "Raleway", sans-serif;
    font-size: 15pt;
}

header, footer, main {
    max-width: 1200px;

}

header, footer {
    padding: 0 1rem;
}

header {
    border-bottom: 4px solid #098286;
}

header, footer {
    background-color: #1a1817; 
    color: ivory;
    text-align: center;
    padding: 0.15rem;
}

h1 {
    text-shadow: 2px 2px 8px #00000066;
}

p {
    font-family: "Calibri", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    object-fit: scale-down;
    height: auto;
    width: fit-content;
}

main p {
    text-align: justify;
}

main section {
    margin: 1.5rem;
    padding: 0 1rem;
    background-color: #e7f1f1;
    box-shadow: 0 2.5px 10px 2.5px #00000066;
}

main section img {
    box-shadow: 0 1px 5px 1px #00000066;
    width: 100%;
}

a {
    color: #057d81; 
    text-decoration: none;
}
a:hover {
    color: #b65800; 
    text-decoration: underline;
}

footer{
    font-size: 0.85em;
    border-top: 4px solid #489b9e;
}

footer a {
    color: ivory;
}

footer a:hover {
    color: #8bfbff;
}