@media only screen and (min-width: 60rem) {

    nav, main {
        padding: 0 10%;
    }
    
    .mission-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .mission {
        max-width: 85%;
    }
    
    .goal-grid, .join-grid, .directors-grid, .info-grid, .attractions, .grid-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .weather-container-grid, .boise-grid {
        grid-template-columns: 1fr 1fr;
    }

    .weather-grid div {
        padding: 1.5rem;
    }

    .membership-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .list-layout .organization-div {
        padding: 0 1rem;
    }

    #footer-img {
        display: inline;
    }
}