@media only screen and (min-width: 60rem) {

    /* ALL PAGES */

    nav, main {
        padding: 0 10%;
    }

    /* HOME and  BOARD OF DIRECTORS and FOOTER*/
    
    .mission-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .mission {
        max-width: 85%;
    }
    
    .goal-grid, .join-grid, .directors-grid, .info-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .weather-grid div {
        padding: 1.5rem;
    }

    /* JOIN */

    .membership-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* DIRECTORY */

    .grid-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* FOOTER */

    #footer-img {
        display: inline;
    }
}