@media only screen and (min-width: 43rem) {
	
	/* ALL PAGES */

    .navigation {
		display: flex;
	}

    .navigation a {
		text-align: center;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation li:first-child {
		display: none;
	}

    /* DIRECTORY */

    .grid-layout {
        grid-template-columns: 1fr 1fr;
    }

    .list-layout .organization-div {
        grid-template-columns: 0.5fr 2fr 1.5fr 1fr;
    }

    /* OTHER */

    .mission-container, .weather-container-grid, .columns-grid, .membership-grid, .join-grid, .contact-grid, .directors-grid, .info-grid {
        grid-template-columns: 1fr 1fr;
    }
}