/* ALL PAGES */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    margin: 0;
}

header, main, nav, footer {
    max-width: 100%;
}

header {
    display: flex;
    padding: 2rem 1rem;
}

header, footer {
    background-color: #000000; 
    color: #ffffff;
}

.logo {
    height: auto;
    max-width: 5rem;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 2rem;
    margin: 0 0 0 1rem;
}

nav {
    background-color: #b42d12;
    letter-spacing: 2px;
    margin: 0 auto;
    text-transform: uppercase;
}

nav a:hover {
    background-color: ivory;
}

.navigation {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    list-style-type: none;
	margin: 0;
    overflow: hidden;
	padding: 0;	
    text-align: center;
}

.navigation a {
    color: ivory;
    display: block;
    padding: 0.75rem;
    transition: 0.25s;
}

.navigation .active a {
    background-color: #f7ddd7;
    color: #b42d12;
}

.navigation a:hover, .navigation a:focus {
    background-color: #f7ddd7;
    color: #000000;
    outline: none;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
    margin: auto;
}

.responsive li {
	display: block;
}

.responsive .bar-icon {
    border-bottom: 4px solid #b42d12;
    color: #ffffff;
}

main {
    padding: 0 1rem;
    text-align: center;
}

main strong {
    color: #b42d12;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

h2 {
    color: #b42d12;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #b42d12; 
    text-decoration: none;
}

a:hover {
    color:#000000;
}

/* HOME */

.hero-div {
    margin: 0 auto;
}

.hero-img {
    box-shadow: 0 2.5px 10px 2.5px #00000066;
}

.mission-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.mission p {
    text-align: left;
}

.goal-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.goal-container-grid {
    align-items: center;
    background-color: #f7ddd7;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.goal-container-grid p, .goal-container-grid h2 {
    padding: 1rem;
    margin: 0;
}

.goal-container-grid h2 {
    font-family: "Open Sans", sans-serif;
}

.goal-container-grid p {
    text-align: left;
}

.columns-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.upcoming-events-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.event-details {
    background-color: #b42d12;
    color: #ffffff;
    margin: 0;
    padding: 0.75rem;
    text-align: left;
}

.event-details h3, .event-details p {
    margin: 0;
    padding: 0.75rem;
}

.event-details p {
    color: #f7ddd7;
    font-size: 1.5rem;
}

.weather-container-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
}

.weather div{
    font-size: 2rem;
}

.weather div {
    font-size: 3rem;
}

.weather-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.weather-grid div {
    background-color: #f7ddd7;
    padding: 0.5rem;
}

.weather-grid p {
    color: #b42d12;
    font-size: 1.75rem;
    margin: 0;
}

div.weather-condition::first-letter {
    text-transform: capitalize;
}

.weather-condition {
    background-color: #f7ddd7;
    color:#b42d12;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex img {
    padding: 0.5rem;
}

.flex-col {
    border: 2px solid #ffffff;
    color: #ffffff;
    flex: 1 1 auto;
}

.weather-info {
    background-color: #000000;
    padding: 1rem;
}

.flex-col:hover {
    opacity: 0.75;
}

.col-head {
    background-color: #f7ddd7;
    border-bottom: 3px solid #b42d12;
    color: #b42d12;
    display: block;
    padding: 0.75rem;
}

.data {
    display: block;
    padding-bottom: 0.5rem;
}

/* JOIN and CONTACT */

.join h3 {
    color: #b42d12;
}

.membership-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.membership-grid h3 {
    font-family: "Open Sans", sans-serif;
}

.membership-grid ul {
    list-style: none;
  }

.membership-grid ul li {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: left;
}

.membership-grid ul li::before {
    color: #b42d12;
    content: "\2022";
    display: inline-block;
    font-weight: bold; 
    margin-left: -1rem;
    width: 1rem;
}

.level {
    background-color: #f7ddd7;
    padding: 0.5rem;
}

.form {
    border: 4px dotted #000000;
    margin: 2rem 0;
    padding: 0.5rem;
}

.form h2 {
    border-bottom: 4px dotted #000000;
    margin: 0;
    padding: 1rem;
}

.join-grid, .contact-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
}

fieldset, input, select, textarea, #submit, #send, .grid-button, .list-button {
    border-radius: 0.5rem;
}

fieldset {
    border: none;
    margin: 1rem;
    padding: 0;
    text-align: left;
}

input, select, textarea, .list-layout {
    border: 2px solid #b42d12;
    display: block;
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 100%;
}

input:required, select:required, textarea:required {
    background-color: #f7ddd7;
}

input:valid, select:valid {
    background-color: none;
}

::placeholder, select {
    color: #b42d12;
}

.notice {
    font-size: 1.25rem;
    text-align: left;
}

.person, .business, .other {
    margin: 1rem;
}

#submit, #send {
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: fit-content;
}

/* DIRECTORY */

.grid-layout {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.grid-layout .organization-div {
    border: 2px solid #b42d12;
}

.grid-layout .directory-logo {
    justify-content: right;
}

.grid-button, .list-button, #submit, #send {
    background-color: #b42d12;
    border: 2px solid #f7ddd7;
    color: #f7ddd7;
    cursor: pointer;
    font-weight: bold;
}

.grid-button, .list-button {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.grid-button:hover, .list-button:hover, #submit:hover, #send:hover {
    color: #ffffff;
}

.list-layout {
    max-width: fit-content;
}

.list-layout .organization-div {
    align-items: center;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 1fr;
}

.list-layout, .list-layout .organization-div {
    padding: 0;
}

.list-layout .organization-div:nth-child(even) {
    background-color: #ffffff;
}

.list-layout h3, .list-layout p, .list-layout img, .grid-layout h3, .grid-layout p, .grid-layout img {
    margin: 0;
    padding: 0.5rem;
}

.organization-div {
    background-color: #f7ddd7;
    margin: 0;
    padding: 1rem;
}

/* BOARD OF DIRECTORS */

.directors-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
}

.directors-grid div {
    background-color: #f7ddd7;
    padding: 1rem;
    max-width: 100%;
}

.board-name {
    color: #b42d12;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.board-title {
    font-size: 1.5rem;
}

/* ATTRIBUTIONS */

.attributions, .list-layout {
    text-align: left;
}

/* THANKS and CONGRATULATIONS */

.thanks, .congratulations {
    background-color: #f7ddd7;
    border: 2px dotted #b42d12;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: fit-content;
    padding: 1rem 2rem;
}

/* FOOTER */

.info-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
}

.info-grid #footer-img {
    border: 2px solid #b42d12;
    border-radius: 1rem;
}

.contact-info {
    color: #000000;
    background-color: #f7ddd7;
    border: 2px solid #b42d12;
    border-radius: 1rem;
    padding: 0 1rem;
    text-align: left;
}

.social-media img {
    border-radius: 0.75rem;
    margin: 0.5rem;
}

#footer-img {
    display: none;
}

footer {
    border-top: 4px solid #b42d12;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.1rem 0.1rem;
    text-align: center;
}

footer a {
    color: #f7ddd7;
}

footer a:hover {
    color: #ffffff;
}