body {
    font-size: 27px;
}

body, .goal-container-grid h2, .membership-grid h3 {
    font-family: "Open Sans", sans-serif;
}

.navigation, h1, h2, h3, .board-name {
    font-family: "Raleway", sans-serif;
}

body, .headings h1, .logo, .list-layout h3, .list-layout p, .list-layout img, .grid-layout h3, .grid-layout p, .grid-layout img, .goal-container-grid p, .goal-container-grid h2, .navigation, .event-details, .event-details h3, .event-details p, .weather-grid p, .weather-alert, .form h2, .organization-div {
    margin: 0;
}

header, main, nav, footer, img, .directors-grid div {
    max-width: 100%;
}

header, .flex {
    display: flex;
}

header {
    flex-direction: row;
}

header, .goal-container-grid, .list-layout .organization-div, .weather-alert, .boise-grid, .attractions {
    align-items: center;
}

header, footer, .weather-info {
    background-color: #000000; 
}

header, footer, .navigation a, .responsive .bar-icon, .event-details, .flex-col, .boise .upcoming-events-grid h3, .grid-button:hover, .list-button:hover, .close-button:hover, .show-button:hover, #submit:hover, #send:hover, footer a:hover {
    color: #ffffff;
}

.headings h1, .logo, .weather-grid div, .weather-condition, .flex img, .list-layout h3, .list-layout p, .list-layout img, .grid-layout h3, .grid-layout p, .grid-layout img, .level, .form {
    padding: 0.5rem;
}

.logo {
    max-width: none;
}

.headings h1 {
    font-size: 2.5rem;
}

nav, .thanks, .congratulations {
    margin: 0 auto;
}

nav {
    letter-spacing: 2px;
}

nav, #submit, #send {
    text-transform: uppercase;
}

nav, .event-details, .grid-button, .list-button, .close-button, .show-button, #submit, #send {
    background-color: #b42d12;
}

nav a:hover, .list-layout .organization-div:nth-child(even) {
    background-color: #ffffff;
}

.navigation, main, footer, .weather-grid, .hero-text {
    text-align: center;
}

.navigation, .list-layout, .list-layout .organization-div, fieldset {
    padding: 0;	
}

.navigation, .membership-grid ul li::before, .grid-button, .list-button, .close-button, #submit, #send, .board-name {
    font-weight: bold;
}

.navigation {
    list-style-type: none;
    overflow: hidden;
}

.navigation a, .navigation li:first-child, .responsive li, .col-head, .data, input, select, textarea, .list-layout {
    display: block;
}

.navigation a {
    transition: 0.25s;
}

.navigation .active a, main strong, h2, a, .weather-grid p, .col-head, .join h3, .boise h3, .membership-grid ul li::before, ::placeholder, select, .board-name {
    color: #b42d12;
}

.navigation .active a, .navigation a:hover, .navigation a:focus, .goal-container-grid, .weather-grid div, .weather-condition, .col-head, .weather-alert, .level, input:required, select:required, textarea:required, .directors-grid div, .organization-div, .thanks, .congratulations, .contact-info {
    background-color: #f7ddd7;
}

.navigation a:hover, .navigation a:focus, .hero-div a:hover, .contact-info {
    color: #000000;
}

.navigation a:hover, .navigation a:focus {
    outline: none;
}

.navigation li, #footer-img {
    display: none;
}

.navigation li {
    margin: auto;
}

.responsive .bar-icon {
    border-bottom: 4px solid #b42d12;
}

.navigation a, .event-details, .event-details h3, .event-details p, .col-head, input, select, textarea, .list-layout {
    padding: 0.75rem;
}

main {
    padding: 0 1rem;
}

img {
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    color:#000000;
}

.hero-div {
    position: relative;
}

.hero-div a {
    color:#b42d12;
}

.hero-text {
    left: 50%;
    max-width: 400px;
    position: absolute;
    text-shadow: -1px 1px 0 #ffffff,
    1px -1px 0 #ffffff,
    1px 1px 0 #ffffff;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-img {
    margin: 0.5rem 0;
    background-position: center;
    position: relative;
}

.mission-container, .goal-grid, .goal-container-grid, .columns-grid, .upcoming-events-grid, .weather-container-grid, .weather-grid, .boise-grid, .attractions, .membership-grid, .join-grid, .contact-grid, .grid-layout, .list-layout .organization-div, .directors-grid, .info-grid {
    display: grid;
}

.mission-container, .goal-grid, .columns-grid, .upcoming-events-grid, .weather-container-grid, .boise-grid, .attractions, .membership-grid, .join-grid, .contact-grid, .grid-layout, .directors-grid, .info-grid, .weather-grid {
    grid-gap: 1rem;
}

.mission-container, .goal-grid, .columns-grid, .upcoming-events-grid, .weather-container-grid, .boise-grid, .attractions, .membership-grid, .join-grid, .contact-grid, .grid-layout, .directors-grid, .info-grid, .list-layout .organization-div {
    grid-template-columns: 1fr;
}

.mission p, .goal-container-grid p, .event-details, .boise-grid, .membership-grid ul li, fieldset, .notice, .attributions, .list-layout, .contact-info {
    text-align: left;
}

.goal-container-grid {
    grid-template-columns: 1fr 3fr;
}

.upcoming-events-grid {
    justify-content: center;
}

.event-details p, .grid-button, .list-button, .close-button, .show-button, #submit, #send, footer a {
    color: #f7ddd7;
}

.weather-container-grid, .boise-grid, .attractions, .join-grid, .contact-grid, .directors-grid, .info-grid {
    justify-items: center;
}

.event-details p, .show-button, .membership-grid ul li, .list-layout .organization-div, .board-title, footer {
    font-size: 1.5rem;
}

.weather-grid p {
    font-size: 1.75rem;
}

.weather div, .hero-text, .close-button {
    font-size: 2rem;
}

.weather div, .grid-button, .list-button {
    font-size: 3rem;
}

.weather-grid {
    grid-template-columns: 1fr 1fr;
}

div.weather-condition::first-letter {
    text-transform: capitalize;
}

.weather-condition {
    color:#b42d12;
    margin-top: 0.5rem;
}

.flex {
    flex-flow: row wrap;
}

.flex-col {
    border: 2px solid #ffffff;
    flex: 1 1 auto;
}

.flex-col:hover {
    opacity: 0.75;
}

.col-head {
    border-bottom: 3px solid #b42d12;
}

.data {
    padding-bottom: 0.5rem;
}

.weather-alert {
    border-left: 10px solid #b42d12;
    border-right: 10px solid #b42d12;
    border-top: 2px solid #b42d12;
    border-bottom: 2px solid #b42d12;
}

.weather-alert h2, .social-media img {
    margin: 0.5rem;
}

.close-button, .show-button {
    border: 2px solid #ffffff;
    padding: 0.5rem 1rem; 
}

.close-button {
    float: right;
}

.attraction-item, .hero-img {
    box-shadow: 0 2.5px 10px 2.5px #00000066;
}

.membership-grid ul {
    list-style: none;
  }

.membership-grid ul li {
    padding-bottom: 1rem;
}

.membership-grid ul li::before {
    content: "\2022";
    display: inline-block;
    margin-left: -1rem;
    width: 1rem;
}

.form {
    border: 4px dotted #000000;
    margin: 2rem 0;
}

.form h2 {
    border-bottom: 4px dotted #000000;
}

fieldset, input, select, textarea, #submit, #send, .grid-button, .list-button, .close-button, .show-button {
    border-radius: 0.5rem;
}

fieldset, .person, .business, .other {
    margin: 1rem;
}

fieldset {
    border: none;
}

input, select, textarea, .list-layout, .notice {
    font-size: 1.25rem;
}

input, select, textarea, .list-layout {
    border: 2px solid #b42d12;
    width: 100%;
}

input:valid, select:valid {
    background-color: none;
}

.thanks, .congratulations, #submit, #send {
    padding: 1rem 2rem;
}

footer, #submit, #send {
    margin-top: 1rem;
}

#submit, #send {
    width: fit-content;
}

.grid-layout .organization-div {
    border: 2px solid #b42d12;
}

.grid-layout .directory-logo {
    justify-content: right;
}

.grid-button, .list-button, .close-button, .show-button, #submit, #send {
    border: 2px solid #f7ddd7;
    cursor: pointer;
}

.grid-button, .list-button {
    margin-bottom: 1rem;
}

.organization-div, .directors-grid div, .info-grid, .form h2, .boise-grid img, .boise-grid div, .attraction-item, .goal-container-grid p, .goal-container-grid h2, .weather-info, .weather-alert, .weather-alert p {
    padding: 1rem;
}

.thanks, .congratulations {
    max-width: fit-content;
}

.thanks, .congratulations, .contact-info {
    border: 2px dotted #b42d12;
    border-radius: 1rem;
}

.contact-info {
    padding: 0 1rem;
}

.social-media img {
    border-radius: 0.75rem;
}

footer {
    border-top: 4px solid #b42d12;
    padding: 0.1rem 0.1rem;
}