body {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #1a1817;
    box-sizing: border-box;
}

header, nav, footer {
    max-width: 100%;
}

header {
    border-bottom: 4px solid #098286;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

header, footer {
    background-color: #1a1817; 
    color: ivory;
}

.logo {
    max-width: 5rem;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    margin: 0 0 0 1rem;
    font-size: 2rem;
}

.motto {
    font-family: "Calibri", sans-serif;
    margin-left: 1rem;
}

nav {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 4px solid #098286;
    background-color: #2c2a29;
    margin: 0 auto;
    font-size: 0.75rem;
}

nav a:hover {
    background-color: ivory;
}

.navigation {
    font-family: "Raleway", sans-serif;
    text-align: center;
    list-style-type: none;
	margin: 0;
	padding: 0;
    font-weight: bold;
	overflow: hidden;
}

.navigation a {
    display: block;
    color: ivory;
    padding: 0.75rem;
    transition: 0.25s;
}

.navigation .active a {
    background-color: ivory;
    color: #098286;
}

.navigation a:hover {
    background-color: ivory;
    color: #2c2a29;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
    margin: auto;
}

.responsive li {
	display: block;
}

.responsive .bar-icon {
    border-bottom: 4px solid #098286;
    color: ivory;
}

main h2, main h3 {
    color: #098286;
}

p {
    font-family: "Calibri", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

main section {
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 2.5px 10px 2.5px #00000066;
    text-align: center;
}

a {
    color: #098286; 
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

footer{
    font-size: 0.85em;
    border-top: 4px solid #098286;
    text-align: center;
    padding: 0.1rem 0.1rem;
}

footer a {
    color: ivory;
}

footer a:hover {
    color: #8bfbff;
    font-weight: normal;
}
