body {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #1a1817;
    box-sizing: border-box;
}

.friday-banner {
    background-color: #098286;
    color: ivory;
    text-align: center;
    padding: 0.75rem;
    font-family: "Barlow", sans-serif;
    border: 1px solid #8bfbff;
}

header, nav, footer {
    max-width: 100%;
}

header {
    border-bottom: 4px solid #098286;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

header, footer {
    background-color: #1a1817; 
    color: ivory;
}

.logo {
    max-width: 5rem;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    margin: 0 0 0 1rem;
    font-size: 2rem;
}

.motto {
    font-family: "Barlow", sans-serif;
    margin-left: 1rem;
}

nav {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 4px solid #098286;
    background-color: #2c2a29;
    margin: 0 auto;
    font-size: 0.75rem;
}

nav a:hover {
    background-color: ivory;
}

.navigation {
    font-family: "Raleway", sans-serif;
    text-align: center;
    list-style-type: none;
	margin: 0;
	padding: 0;
    font-weight: bold;
	overflow: hidden;
}

.navigation a {
    display: block;
    color: ivory;
    padding: 0.75rem;
    transition: 0.25s;
}

.navigation .active a {
    background-color: ivory;
    color: #098286;
}

.navigation a:hover {
    background-color: ivory;
    color: #2c2a29;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
    margin: auto;
}

.responsive li {
	display: block;
}

.responsive .bar-icon {
    border-bottom: 4px solid #098286;
    color: ivory;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    text-align: center;
}

main section {
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-family: "Barlow", sans-serif;
    margin: 0 auto;
}

main h2, main h3 {
    color: #098286;
    text-align: center;
}

p {
    font-family: "Barlow", sans-serif;
}

.hero-div {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

#hike-img {
    box-shadow: 0 2.5px 10px 2.5px #00000066;
}

.weather-summary {
    max-width: fit-content;
    text-align: left;
    background-color: white;
}

.weather-summary h3 {
    border-bottom: 1px solid #098286;
    margin-top: 10px;
}

.weather-summary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

main section .label {
    font-weight: bold;
    text-align: right;
}

.flex {
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-flow: row wrap;
}

.flex img {
    padding: 0.25rem;
}

.flex-col {
    color: ivory;
    border: 2px solid white;
    flex: 1 1 auto;
}

.weather-info {
    background-color: #2c2a29;
}

.flex-col:hover {
    opacity: 0.75;
	background-color: #2c2a29;
}

.col-head {
    background-color: #098286;
    color: ivory;
    display: block;
    padding: 0.25rem;
    border-bottom: 3px solid white;
    font-weight: bold;
}

.data {
    display: block;
    padding-bottom: 0.5rem;
}

.article {
    box-shadow: 0 2.5px 10px 2.5px #00000066;
}

.article p {
    text-align: left;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
}

#preston-map {
    border: 2px solid #2c2a29;
    border-radius: 25px;
}

#preston-map:hover {
    border: 2px solid #098286;
}

.contact-info {
    text-align: left;
    padding: 0 1rem;
}

.contact-info h3 {
    text-align: left;
}

.social-media img {
    margin: 0.5rem;
    border-radius: 10px;
}

a {
    color: #098286; 
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

footer{
    font-size: 0.85em;
    border-top: 4px solid #098286;
    text-align: center;
    padding: 0.1rem 0.1rem;
}

.footer-info {
    padding: 1rem;
}